<!DOCTYPE html>
<html lang="en">

<%- partial('../partials/linkCDN') %>

<body>
    <div class="container">
    <%- partial('../partials/navbar') %>
    <%-body -%>
    <%- partial('../partials/script') %>    
    </div>
</body>
</html>